.ant-tabs .ant-tabs-ink-bar {
  background: #00b19c !important;
}

.ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn,
.ant-tabs .ant-tabs-tab:hover {
  color: #00b19c !important;
}


@media only screen and (max-width: 992px) {
  .ant-tabs, .ant-tabs-content, .ant-tabs-tabpane{
    height: 100%;
  }
}